*{
  margin: 0;
  padding: 0;
}

.App{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.left{
  box-sizing: border-box;
  padding-left: auto;

}
.heading{
  font-style: 60px;
  text-align: center;
  text-decoration: center;
  font-family: serif;
  color: #1453dc;
}

p{
  font-style: 20px;
  color: #1453dcaf;

}

#ip{
  color: #1453DC;
}
h4{
  font-size: 30px;
}

.leaflet-container{
    width: 500px;
}
.map{
  width: 500px;
}